<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="style.css">
    <title>Výchova - môj kríž</title>
</head>
<body>
    <div class="menu-btn">
        <i class="fas fa-bars fa-2x"></i>
    </div>

    <div class="container">
        <!-- Nav -->
        <nav class="main-nav">
            <img src="img/logo.jpg" alt="Family" class="logo">

            <ul class="main-menu">
                <li><a href="#">Disciplína</a></li>
                <li><a href="#">Kríza</a></li>
                <li><a href="#">Otázky</a></li>
            </ul>

            <ul class="right-menu">
                <li>
                    <a href="#"><i class="fas fa-search"></i></a>
                </li>
                <p>Hľadať</p>
            </ul>
        </nav>

        <!-- Topic 1-->
        <header class="main-topic">
            <h2>Disciplína</h2>
            <p>Fyzické tresty majú v nejednej rodine svoju tradíciu a miesto vo výchove. Sú nevyhnutnosťou alebo len doplnkom? Môžeme ich nejako zameniť?</p>
            <a href="#" class="btn">
                Čítaj viac <i class="fas fa-chevron-right"></i>
            </a>
        </header>

        <!-- Home cards 1 -->
        <section class="home-cards">
            <div>
                <img src="img/card1.jpg" alt="">
                <h3>Cestovanie s deťmi</h3>
                <p>Ako si cestovanie s deťmi uľahčiť, načo si dať pozor aby sme sa na dovolenke nezbláznili?</p>
                <a href="#">Viac tu <i class="fas fa-chevron-right"></i></a>
            </div>
            <div>
                <img src="img/card2.jpg" alt="">
                <h3>Upratovanie hračiek</h3>
                <p>Hračky po celom byte! Ako naučiť deti, aby hčaky s ktorými sa hrajú po sebe upratali a nestratiť pri tom nervy?</p>
                <a href="#">Viac tu <i class="fas fa-chevron-right"></i></a>
            </div>
            <div>
                <img src="img/card3.jpg" alt="">
                <h3>Čas ísť spať</h3>
                <p>Pred spaním býva rušno. Rodičia sú unavený a deti plné energie doháňajúce rodičov k šialenstvu.</p>
                <a href="#">Viac tu <i class="fas fa-chevron-right"></i></a>
            </div>
            <div>
                <img src="img/card4.jpg" alt="">
                <h3>Podrezaný jazýček</h3>
                <p>Skadiaľ pochádza slovník môjho dieťaťa? Kde sa naň nalepili všetky tie vulgárne slová a ako mu ich vybiť z hlavy von?</p>
                <a href="#">Viac tu <i class="fas fa-chevron-right"></i></a>
            </div>

        </section>


        <!-- Topic 2 -->
        <section class="topic-second">
            <div class="content">
                <h2>Kríza</h2>
                <p>Najpálčivejšie problémy spojené s výchovou sú neľahkým orieškom i pre tých najskúsenejších rodičov. Ako sa s nimi popasovať a vyjsť z tohto boja ako víťaz?</p>
                <a href="#" class="btn">Čítaj viac <i class="fas fa-chevron-right"></i></a>
            </div>
        </section>

        <!-- Home cards 2 -->
        <section class="home-cards">
            <div>
                <img src="img/card5.jpg" alt="">
                <h3>Záchvaty hnevu</h3>
                <p>Viete čo robiť so záchvatmi hnevu vášho dieťaťa? Bude to stály či len dočasný problém?</p>
                <a href="#">Viac tu <i class="fas fa-chevron-right"></i></a>
            </div>
            <div>
                <img src="img/card6.jpg" alt="">
                <h3>Závislosť na médiách</h3>
                <p>Ako naučiť dieťa vedieť povedať STOP? Je to vôbec jeho úlohou?</p>
                <a href="#">Viac tu <i class="fas fa-chevron-right"></i></a>
            </div>
            <div>
                <img src="img/card7.jpg" alt="">
                <h3>Hádky s deťmi</h3>
                <p>Hádka s vlastným dieťaťom môže byť vyčerpávajúcejšia ako kopanie zemiakov. Ako jej predchádzať?</p>
                <a href="#">Viac tu <i class="fas fa-chevron-right"></i></a>
            </div>
            <div>
                <img src="img/card8.jpg" alt="">
                <h3>Smrť blízkeho</h3>
                <p>Najsmutnejšie okamihy života zasahujú i životy najmenších. Ako im môžeme pomôcť?</p>
                <a href="#">Viac tu <i class="fas fa-chevron-right"></i></a>
            </div>

        </section>

        <!-- Topic 3 -->
        <section class="topic-third dark">
            <div class="content">
                <h2>Otázky a Odpovede</h2>
                <p>prečítajte si výber najčastejších otázok s odpoveďami skú skúsených pedagógov a psychológov. </p>
                <a href="#" class="btn">Čítaj viac <i class="fas fa-chevron-right"></i></a>
            </div>
        </section>

        <!-- Follow -->
        <section class="follow">
            <p>Nasledujte nás</p>
            <a href="https://facebook.com"><img src="img/social-fb.png" alt="facebook"></a>
            <a href="https://facebook.com"><img src="img/social-twitter.png" alt="twitter"></a>
            <a href="https://facebook.com"><img src="img/social-linkedin.png" alt="linkedin"></a>
        </section>
    </div>

    <!-- Links -->
    <section class="links">
        <div class="links-inner">
            <ul>
              <li><h3>Na predaj</h3></li>
              <li><a href="#">Knihy</a></li>
              <li><a href="#">Časopisy</a></li>
              <li><a href="#">Bronžúry</a></li>
            </ul>

            <ul>
              <li><h3>Vzdelávanie</h3></li>
              <li><a href="#">Na školách</a></li>
              <li><a href="#">V rodine</a></li>
              <li><a href="#">V domovoch</a></li>
            </ul>

            <ul>
              <li><h3>Podpora</h3></li>
              <li><a href="#">Ministerstva</a></li>
              <li><a href="#">Okresov</a></li>
              <li><a href="#">Štátu</a></li>
            </ul>

            <ul>
              <li><h3>Odkazy</h3></li>
              <li><a href="#">Websites</a></li>
              <li><a href="#">Dobrovoľníctvo</a></li>
              <li><a href="#">Kurzy</a></li>
            </ul>

            <ul>
              <li><h3>Združenie</h3></li>
              <li><a href="#">Kariéra</a></li>
              <li><a href="#">Zákon</a></li>
              <li><a href="#">Investory</a></li>

            </ul>
          </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <div class="footer-inner">
            <div><i class="fas fa-globe fa-2x"></i> Slovenčina (Slovensko)</div>
            <p>Všetky práva vyhradné, bez súhlasu autorov nemôžno šíriť a používať ďalej inak si príde pre Vás vlk. :-)</p>
        </div>
    </footer>
    <script>
       document.querySelector('.menu-btn').addEventListener('click', () => document.querySelector('.main-menu').classList.toggle('show'));
    </script>
</body>
</html>